<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhir-app.ZPM">
    <Module>
      <Name>iris-fhir-app</Name>
      <Version>1.0.1</Version>
      <Description>Sample IRIS FHIR application</Description>
      <Keywords>FHIR,IRIS</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication
        Url="/fhirUI"
        SourcePath="/fhirUI"
        DeployPath="{$cspdir}/fhirUI"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/fhirUI"
       />
    </Module>
  </Document>
</Export>
